@font-face {
    font-family: counthills;
    src: url(./assets/fonts/Counthills.otf);
}

@font-face {
    font-family: proxima;
    src: url(./assets/fonts/proximanova_regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}



body {

    font-family: counthills;
    text-align: center;
   /* background: linear-gradient(70deg, #ffffff, #dedede, #d2d2d2); */
    background-size: 400% 400%;
    background-color: #dedede;
    animation: gradient 15s ease infinite;
    min-height: 100vh;
    
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

header, nav {
    
    margin: 0;
    width: 100%;
    
    height: 0px;
    text-decoration: none;
    position: fixed;
    top: 10px;
    left: 0;    
    right: 0;
    bottom: 0;
    border-radius: 10px 10px 0px 0px;
   
    justify-self: center;
    
   
}

#rounded-corner {
    border-radius: 10px 0px 0px 10px;
    
}

#rounded-corner1 {
    border-radius: 10px 0px 10px 0px;
}

a {
    font-family: proxima;
    color: white;
    letter-spacing: 1px;
    position: relative;
    padding: 2rem;
    text-decoration: none;
    background-color: gray;
    opacity: 60%;
    margin: 0;
    padding: 30px;
    
}

ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
    display: flex;
    
    justify-content: center;
}

.socials {
    
    
    border-radius: 100px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
    width: fit-content;
    display: flex;
    margin-right: 10px;
   
}


.socials:hover {
    box-shadow: 0px 0px 30px rgba(2, 2, 96, 0.578);
}



main {
    margin-top: 100px;

    
    
}

@keyframes blowin {
    from {
        color: transparent;
        
        
    }
    to {
        color: gray;
        
    }
}


#spider {
    color: grey;
    padding: 0;
    letter-spacing: 3px;
    font-weight: 300;
    justify-content: center;
    background-image: url(lines.svg);
    background-position: 0;
    background-size: 35rem;
    font-size: 7rem;
    background-repeat: no-repeat;
    display: flex;
    border: solid transparent;
    border-radius: 40px;
    margin: 0;
    padding: 1rem;

    width: fit-content;
    justify-self: center;

    

    

}

@keyframes flow {
    from {
        letter-spacing: 0;
    }
    to {
        letter-spacing: 10px;
    }
    
}

@keyframes flows {
    from {
        letter-spacing: 10px;
    }
    to {
        letter-spacing: 0px;
    }
}

#spider:hover {
    animation: flow ease 1s forwards;       
}

#spider:hover::after {
    animation: flows ease-out 1s forwards;
}

a:hover {
    animation: flow ease 500ms forwards; 
    text-shadow: 0px 0px 10px rgb(133, 133, 133);
}

#sideblock {
    margin-top: 15px;
    height: 1000px;
    border: solid black;
    border-radius: 20px;
    display: block;
    width: 200px;
    opacity: 20%;
    background-color: black;
}


#mainpage {
    margin-top: 200px;
    color: grey;
    animation: blowin ease-in 2s;
}

#middlepage {
    margin-top: 300px;
    display: block;
    border: transparent;
    padding: 300px;

    /* Layered background: fade + image */
    background-image:
        linear-gradient(to top, transparent 80%, #dedede 100%),
        url(./assets/41.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

#middlepage h2 {
    color: gray;
    font-size: 50px;
    backdrop-filter: blur(5px);
    
    border-radius: 100px;
    text-shadow: 0px 0px 30px #BECBD4;

    
}

.quote-container {
  display: flex;
  align-items: center;        /* vertically centers the line with text */
  justify-content: start;    /* centers the whole block on the page */
  gap: 20px;                  /* space between line and text */
  margin: auto;
  max-width: 900px;
}

.vertical-line {
  width: 4px;
  height: 250px;              /* adjust for your design */
  background-color: gray; /* subtle gray */
}

.quote-text {
  font-family: proxima;
  font-size: 32px;
  color: #555;
  text-align: left;
  max-width: 700px;
}

.quote-text p {
  margin: 0;
}

.quote-text .author {
  margin-top: 20px;
  font-size: 24px;
  color: rgb(76, 66, 138);
  font-style: italic;
}



@media (width: 400px)  {
    h1 {
        font-size: 4rem;
    }
}